# Import Necessary Modules

In [1]:
import sqlalchemy
import pymysql
import pandas as pd

# Establish Engine

In [2]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:Purpsqlle01@localhost:3306/ds_training')
# engine = sqlalchemy.create_engine('mysql+pymysql://user:password@server:port/schema')

In [3]:
engine.connect()

# Export Data to MySQL

In [4]:
# set file path
# path = r'path to csv'
path = r'FakeNamesCanada.csv'

In [5]:
data = pd.read_csv(path, dtype='str')

In [6]:
# path.to_sql(TableName, engine, if_exists="replace or append", index=False)
# typically truncate table first
data.to_sql('RAW_FakeNamesCanada_20190129', engine, if_exists='append', index=False)

In [7]:
# 200000 row(s) returned

In [8]:
data.head()

,Number,Gender,GivenName,Surname,StreetAddress,City,ZipCode,CountryFull,Birthday,Balance,InterestRate
0,1,male,Seth,Leane,1794 James Street,Attawapiskat,P0L 1A0,Canada,1977-07-17,6169.74,0.1240
1,2,male,William,Hall,1685 Sherbrooke Ouest,Montreal,H4A 1H3,Canada,1976-11-22,1555.94,0.1280
2,3,female,Leah,Fennescey,4152 Holdom Avenue,Surrey,V3T 4Y5,Canada,1963-11-16,8252.26,0.1790
3,4,female,Lola,Taylor,902 Islington Ave,Toronto,M9V 2X5,Canada,1974-06-30,4266.44,0.1660
4,5,female,Emily,Barnwell,362 Albert Street,Kitchener,N2L 3V2,Canada,1965-04-03,6437.23,0.1770